<div class="container">
  <div class="row">
    <div class="col-md-4 border">
      <div class="row">
        <div class="col-6 border">
          <p class="text-capitalize fs-3">
            gerald <span class="fw-bold">morris</span>
          </p>
          <p class="m-0 text-truncate">gerald@morris.com</p>
          <p class="m-0">UX Developer</p>
          <a href="" class="text-truncate text-decoration-none"
            >email@contact.com</a
          >
          <a href="" class="text-truncate text-decoration-none"
            >www.example.com</a
          >
          <a href="" class="text-truncate text-decoration-none">+1234567890</a>
        </div>
        <div class="col-6 border">
          <img src="" alt="" />
          <a href="">Más información</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 border">Resultados</div>
    <div class="col-md-4 border">Tabla de score</div>
  </div>
  <div class="row">
    <div class="col-md-2 border">Información detallada</div>
    <div class="col-md-8 border"><div #chartContainer></div></div>
    <div class="col-md-2 border">Espacio en blanco</div>
  </div>
  <div class="row">
    <div class="col-md-12 border">Descripción general</div>
  </div>
</div>
