<div class="container">
  <div class="row">
    <div class="col-md-4 border">Datos generales</div>
    <div class="col-md-4 border">Resultados</div>
    <div class="col-md-4 border">Tabla de score</div>
  </div>
  <div class="row">
    <div class="col-md-2 border">Información detallada</div>
    <div class="col-md-8 border"><div #chartContainer></div></div>
    <div class="col-md-2 border">Espacio en blanco</div>
  </div>
  <div class="row">
    <div class="col-md-12 border">Descripción general</div>
  </div>
</div>
